.de-cell:filled:not-editable
{
    -fx-background-color: #cccccc;
    -fx-text-fill: #0000ff;
    -fx-border-width: 1px 0px 0px 1px;
    -fx-border-color: #eeeeee   
}
.de-cell:filled:row-selected
{
    -fx-background-color: skyblue;
    -fx-text-fill: black;
    -fx-border-width: 1px 0px 0px 1px;
    -fx-border-color: #eeeeee   
}
.de-cell:filled:not-editable:row-selected
{
    -fx-background-color: #999999;
    -fx-text-fill: #0000ff
}